<!-- DoCheck Example -->
<h3>DoCheck Example</h3>
<ul>
  <li *ngFor="let item of items">{{ item }}</li>
</ul>
<br />

<!-- ngAfterContentInit Example -->
<h3>ngAfterContentInit Example</h3>
<app-after-content-init-example>
  <p>Projected content goes here.</p>
</app-after-content-init-example>
<br />

<!-- ngAfterContentChecked Example -->
<h3>ngAfterContentChecked Example</h3>
<app-after-content-checked-example>
  <p>Projected content goes here.</p>
</app-after-content-checked-example>
<br />

<!-- ngAfterViewInit Example -->
<h3>ngAfterViewInit Example</h3>
<app-after-view-init-example></app-after-view-init-example>
<br />

<!-- ngAfterViewChecked Example -->
<h3>ngAfterViewChecked Example</h3>
<app-view-check-example></app-view-check-example>
<br />

<!-- ngOnDestroy Example -->
<h3>ngOnDestroy Example</h3>
<app-destroy-example></app-destroy-example>
